.container-detail{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px auto;
    gap: 40px;
    max-width: 900px;
 }

/* MOBILE */
@media (max-width: 768px) {
  .container-detail {
    flex-direction: column;
    gap: 20px;
    padding: 0 1rem;
  }

  .container-detail img {
    width: 100%;
  }
}


