.container-product{
    margin: 0 auto;
}

.text-category {
    color: rgb(211, 170, 35);
    text-transform: capitalize;
}
/* GRID DE PRODUCTOS */
.item-list-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
  justify-items: center;
}

/* MOBILE */
@media (max-width: 992px) {  /* tablets */
  .item-list-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {  /* celulares */
  .item-list-grid {
    grid-template-columns: 1fr;
  }
}
