.count-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.count-buttons{
    display: flex;
    align-items: center;
    gap: 10px;
}

.btn:disabled {
    background-color: #b9b9b9;
    cursor: not-allowed;
    transform: none; /* evita efectos hover */
    opacity: 0.5;
}


/* MOBILE */
@media (max-width: 600px) {
  .count-container {
    flex-direction: column;
    gap: 0.5rem;
  }

  .count-container button {
    width: 100%;
  }
}
